node_modules
vendor
.git
.github
tests
storage/logs/*
!storage/logs/.gitkeep
storage/framework/cache/*
!storage/framework/cache/.gitkeep
storage/framework/sessions/*
!storage/framework/sessions/.gitkeep
storage/framework/views/*
!storage/framework/views/.gitkeep
.env
.env.backup
.env.production
.phpunit.result.cache
deploy.zip
unzip_deploy.php
debug.php
quick-debug.txt
*.log
.DS_Store
Thumbs.db
