@import '@fontsource/cairo';
@import '@fontsource/amiri';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-marquee {
    animation: marquee 50s linear infinite;
  }
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

/* KHIDMAH MODE FULL HIJAU NU */
.khidmah {
  background-color: #00692A !important;
}
.khidmah * {
  color: #ecfccb !important;
}
.khidmah .bg-white,
.khidmah .bg-gray-100,
.khidmah .bg-gray-50 {
  background-color: #022c14 !important;
}
.khidmah .text-green-700,
.khidmah .text-gray-600 {
  color: #ecfccb !important;
}
.khidmah .border-green-600 {
  border-color: #ecfccb !important;
}